.App {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.left-color {
  color: rgb(255, 176, 65);
}
.right-color {
  color: #58d68d;
}
.top-color {
  color: #2e86c1;
}
.loading {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loading .me {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading .me img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #748199;
}

.loading .rules {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2em;
  padding: 16px;
}
.loading .rules ul li span {
  font-weight: bold;
}

.loading .action {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading .action input.start {
  background-color: rgba(0, 0, 0, 0);
  padding: 6px 12px;
  border: 2px solid #748199;
  color: #eee;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-swipping-indicator {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 1px;
  background-color: rgb(255, 176, 65);
  box-shadow: 1px 0px 3px 3px rgb(255, 176, 65);
}

.right-swipping-indicator {
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 1px;
  background-color: #58d68d;
  box-shadow: -1px 0px 3px 3px #58d68d;
}

.item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #30353f;
}

.item-picture {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
}

.item-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.item-title {
  flex: 1;
  display: flex;
  padding: 12px;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  background-color: rgba(48, 53, 63, 0.85);
}

.item-title a {
  text-decoration: none;
  color: white;
}

.item-description {
  display: flex;
  color: rgb(145, 161, 191);
  align-items: center;
  text-align: justify;
  flex: 3;
  font-size: 0.9em;
}

.item-meta {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(140, 154, 183);
  font-size: 0.9em;
}

.item-date {
  text-align: left;
}

.item-author {
  text-align: right;
}

.tweet-item-header {
  padding: 16px;
}

.tweet-item-header-left {
    display: flex;
    line-height: 24px;
}
.tweet-item-header-right {
    display: flex;
    line-height: 48px;
    color: #8c9ab7;
}
.tweet-item-header-right span {
    margin-right: 8px;
}
.tweet-item-profile-picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
}

.tweet-item-user-name {
  font-weight: bold;
}

.tweet-item-user-screen-name {
  padding-left: 4px;
  color: rgb(140, 154, 183);
  font-size: 0.9em;
}

.tweet-item-content {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 16px 16px;
  flex: 1;
}

.tweet-item-text {
    padding-bottom: 16px;
    padding-top: 16px;
}

.tweet-item-media {
    width: 100%;
    flex: 1;
    background-position: center center;
    background-size: cover;
}
